 {% load static %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Student Coursework Progress Calendar{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/CSS.css' %}">
 <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>

  <hr>

 

<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
 <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
     <a href="#"> <div id="close-sidebar" align="right" style="font-size:22px;">
          <i class="fas fa-times"></i>
        </div> </a>
      <div class="sidebar-brand"  style="font-size: 30px; color:white;">

       SCP <i class=" fa fa-hourglass-half"> Calendar</i> 
        
      </div>
      <div class="sidebar-header">
      
        <div class="user-info">
          <span class="user-name">
            <strong> {{ request.user.username }}</strong>
          </span>
         
         
        </div>
      </div>
      <!-- sidebar-header  -->
    
   
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li >
            <a href="/student/">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
             
            </a>
          </li>

           <li >
            <a href="/calendar/">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
             
            </a>
            
              
          </li>

            
               <li >
            <a href="/studentAdd/">
              <i class="fa fa-plus"></i>
              <span>Add To Calendar</span>
             
            </a>
            
              
          </li>

         
           
            <li >
            <a href="/deadline/">
              <i class="fa fa-clock"></i>
              <span>Deadline</span>
             
            </a>
            
              
          </li>


      
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
  
      <a href="/">
        <i class="fa fa-power-off">  Logout</i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
  {% block content %}
  <div>
  <section >
    <header>
      <h2>ADD COLOUR</h2>
     
    </header>
   
 
    <div class="login">
  <form action="/updateColor/{{ books.id }}" class="login-form">

        {% csrf_token %}

        <label class="form-group" for="color"><b> Color (select one): </b> </label>

       
      <select class="form-control" id="sel1" name="color">
        <option value="#3498DB">Blue</option>
        <option value="#A569BD">Purple</option>
        <option value="#FF8000">Orange</option>
        <option value="#EE82EE">Pink</option>
         
        
      </select>
      <br>
      <br>
        <!-- <input class="form-control" type="text" name="color" value="{{ books.color }}" placeholder="{{ books.color }}"> -->
       

        <input class="btninfor" type="submit" value="Update">

    </form>
 </section>
  
</div>
<!-- <button id="e1">Login error!</button> -->
{% endblock %}
</div>

  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
</body>

</html>


 <script type="text/javascript">
  jQuery(function ($) {

    $(".sidebar-dropdown > a").click(function() {
  $(".sidebar-submenu").slideUp(200);
  if (
    $(this)
      .parent()
      .hasClass("active")
  ) {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .parent()
      .removeClass("active");
  } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .next(".sidebar-submenu")
      .slideDown(200);
    $(this)
      .parent()
      .addClass("active");
  }
});

$("#close-sidebar").click(function() {
  $(".page-wrapper").removeClass("toggled");
});
$("#show-sidebar").click(function() {
  $(".page-wrapper").addClass("toggled");
});


   
   
});
 </script>
  
</body>
</html>